.container {
  padding: 0 0 10vh 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionTitle {
  text-align: center;
  flex: 100%;
  padding: 0 0 70px;
}

.sectionTitle h2 {
  margin: 20px 0 10px;
}

.sectionTitle p {
  color: gray;
  margin-inline: auto;
  margin: 16px 0;
}

.destinations {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  height: 250px;
  margin-bottom: 20px;
  overflow: visible;
  position: relative;
  width: 130px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  color: #000;
}

.content strong { grid-area: 1 / 1 / 2 / 2; }
.content p { grid-area: 2 / 1 / 3 / 2; }

strong {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  font-weight: bold;
}

.desc {
  color: gray;
  text-align: center;
}