.header {
  color: white;
  top: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.navbar {
  color: #fff;
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  line-height: 60px;
  list-style: none;
  max-width: 1100px;
  margin: 0 auto 0;
  transition: all .4s;
  font-family: 'Maven Pro', sans-serif;
  padding: 20px 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.list {
  padding: 0 10px 0;
  text-shadow: 1px 0 3px #000;
}

.logo {
  /* margin-right: auto; */
  cursor: pointer;
  font-family: 'Italianno', cursive;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.contacto {
  padding: 0.5rem 1.5rem;
  background-color: #962624;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  border-radius: 3.1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}