.container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  color: #fff;
  flex: 100%;
  padding: 0 0 70px;
  text-align: center;
  text-shadow: 1px 0 3px #000;
}

.title h2 {
  margin: 20px 0 10px;
}

.card {
  background-color: white;
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  flex: 25%;
  height: 400px;
  margin: 15px 10px;
  overflow: hidden;
  transition: transform .5s;
  width: 250px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-15px);
  transition: transform .5s;
}

.oferta {
  border-top-left-radius: 5px;
  position: absolute;
  width: 75px;
  height: 45px;
  background: var(--primary);
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}

.innterText {
  opacity: 1;
  position: relative;
  background: white;
  width: 100%;
  color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 .5rem;
}

.innterText strong {
  color: #000;
}

.innterText p {
  margin: 16px;
}