.sectionHotel {
  max-width: 1100px;
  margin: 0 auto 0;
  padding: 3rem 0;
  font-family: "Maven Pro", sans-serif;
}

.titleSection {
  text-align: center;
  flex: 100%;
  padding: 0 0 70px;
}

.titleSection p {
  color: gray;
  width: 50%;
  margin-inline: auto;
}

.titleSection h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.cardsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}