@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Italianno&family=Maven+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #ebebeb;
  font-family: 'Maven Pro', Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

:root {
  --content : #efefef;
  --defaul-content:#ebebeb ;
  --none: none;
  --primary: #dc143c;
  --secondary: #dc146b;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.react-icons {
  vertical-align: middle;
}